<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mensajes_tabla">
        {% with mensajes = get_flashed_messages(with_categories=true) %}
            {% if mensajes %}
                <ul>
                    {% for categoria, mensaje in mensajes %}
                        <li class="alert alert-{{ categoria }}" style="color: {% if categoria == 'warning' %} red {% else %} green {% endif %}; font-weight: bold;">
                            {{ mensaje }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        
        {% if productos_bajos %}
            <div class="tabla_stock_bajo">
                <h3 style="color: red;">Listado de Productos Críticos</h3>
                                
                {% for producto in productos_bajos %}
                <div id="fila_stock_bajo">
                    <div>{{ producto.nombre }}</div>
                    <div>{{ producto.stock_actual }}</div>
                    <div>{{ producto.categoria }}</div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
</body>
</html>