<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cloudflare.com">
    <link rel="stylesheet" href="/static/css/formularios.css">
    <title>Aumentar stock producto</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Aumentar Stock del Producto</h1>
            <p>Los valores mostrados son los actuales del producto.</p>
        </header>
        <main>
            
            <div id="mensaje-js" style="display: none; padding: 10px; margin-bottom: 15px; font-weight: bold; border-radius: 5px;"></div>

            <a href="/productos"><i class="fa-solid fa-arrow-left"></i> Regresar</a>

            
            <form id="form-aumentar" action="/productos/aumentar/{{ producto.idproductos }}" method="POST">
                <input type="hidden" name="id_producto" value="{{ producto.idproductos }}">

                <label for="nombre_producto">Nombre del producto</label>
                <input type="text" name="nombre_producto" id="nombre_producto" value="{{producto.nombre}}"  readonly required>

                <label for="nuevo_stock">Ingrese la cantidad a agregar al stock</label>
                <input type="number" name="nuevo_stock" id="nuevo_stock"  min="1" placeholder="Ingrese el valor a agregar al stock" required>

                <button type="submit">Incrementar stock producto</button>
            </form>
        </main>
    </div>

    <script src="/static/js/aumentar_producto.js"></script>
</body>
</html>