<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cloudflare.com">
    <link rel="stylesheet" href="/static/css/formularios.css">

    <title>Crear Producto</title>
</head>
<body>
    <div class="container">
        <header><h1>Agregar producto</h1></header>

        <main>
            <a href="/productos"><i class="fa-solid fa-arrow-left"></i> Regresar</a>
            
            <form action="/productos/crear" method="POST">
                <label for="nombre_producto">Introduce el nombre del producto</label>
                <input type="text" name="nombre_producto" id="nombre_producto" placeholder="Introduce el nombre del producto" required>

                <label for="precio_producto">Introduzca el precio del producto</label>
                <input type="number" name="precio_producto" id="precio_producto" placeholder="Introduce el precio" required>

                <label for="stok_actual_producto">Ingrese el stock actual del producto</label>
                <input type="number" name="stok_actual_producto" id="stok_actual_producto" min="0" placeholder="Ingrese la cantidad actual del producto">

                <label for="stok_minimo_producto">Ingrese el stock mínimo para ser notificado</label>
                <input type="number" name="stok_minimo_producto" id="stok_minimo_producto" required placeholder="Mínima cantidad de producto para ser notificado">

                <label for="idcategorias">Categorías</label>
                <select name="idcategorias" id="idcategorias" required>
                    <option value="" disabled selected>Selecciona una categoría</option>
                    {% for cat in categorias %}
                        <option value="{{cat.idcategorias}}">{{cat.nombre}}</option>
                    {% endfor %}
                </select>
                
                <button type="submit">Guardar nuevo producto</button>


            </form>
        </main>
    </div>
</body>
</html>