<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cloudflare.com">
    <title>Crear categoría</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Crear categoría</h1>
        </header>
        <main>
            <button><a href="/productos"><i class="fa-solid fa-arrow-left"></i> Regresar</a></button>
            <form action="" method="POST">
                <label for="nombre_categoria">Nueva categoría</label>
                <input type="text" name="nombre_categoria" id="nombre_categoria" required placeholder="Nueva categoria">
                <br>
                <button type="submit">Guardar nueva categoría</button>
            </form>
        </main>
    </div>
</body>
</html>