<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cloudflare.com">
    <link rel="stylesheet" href="/static/css/formularios.css">
    <title>Decrementar stock producto</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Decrementar Stock del Producto</h1>
            <p>Los valores mostrados son los actuales del producto.</p>
        </header>
        <main>
            {% include "componentes/aviso.html" %}

            <a href="/productos"><i class="fa-solid fa-arrow-left"></i> Regresar</a>

            <form action="" method="POST">
                <input type="hidden" name="id_producto" value="{{ producto.idproductos }}">

                <label for="nombre_producto">Nombre del producto</label>
                <input type="text" name="nombre_producto" id="nombre_producto" value="{{producto.nombre}}"  readonly required>

                <label for="nuevo_stock">Ingrese la cantidad a sacar al stock</label>
                <input type="number" name="nuevo_stock" id="nuevo_stock"  min="1" max="{{producto.stock_actual}}" placeholder="Ingrese el valor a sacar al stock" required>

                <button type="submit">Decrementar stock producto</button>
            </form>
        </main>
    </div>
</body>
</html>