<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Index - Panel de Control</h1>
        </header>

        {% include "componentes/tabla_aviso_stock_bajo.html" %}

        <br><br>
        <main>
            <a href="/usuarios">Administrar usuarios</a> | 
            <a href="/productos">Listado de productos</a> | 
            <a href="/historial_movimiento">Listado de movimientos</a>
        </main>
    </div>
</body>
</html>