<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Menu Principal</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Index - Panel de Control</h1>
        </header>

        {% include "componentes/tabla_aviso_stock_bajo.html" %}

        <main>
            <a href="/usuarios">Administrar usuarios</a>
            <a href="/productos">Listado de productos</a>
            <a href="/historial_movimiento">Listado de movimientos</a>
            <a href="/cerrar_sesion">Cerrar sesion</a>
        </main>
    </div>
</body>
</html>