<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Listado de productos</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Listado de productos</h1>
            {% include "componentes/nav.html" %}
        </header>
        <main>
            {% include "componentes/tabla_aviso_stock_bajo.html" %}

            <div class="opciones">
                <a href="/productos/crear">Ingresar nuevo producto</a>
                <a href="/productos/crear/categoria">Ingresar una nueva categoría</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock actual</th>
                        <th>Categoría</th>
                        <th>Acciones stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos%}
                        <tr>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.stock_actual}}</td>
                            <td>{{producto.categoria}}</td>
                            <td>
                                <a href="/productos/aumentar/{{producto.idproductos}}">Incrementar</a>
                                <a href="/productos/decrementar/{{producto.idproductos}}">Decrementar</a>
                            </td>
                            <td>
                                <a href="/productos/editar/{{producto.idproductos}}">Editar</a>
                                <a href="/productos/eliminar/{{producto.idproductos}}">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            

        </main>
    </div>
</body>
</html>